{
  "rules": {
    "no-console": 0,
    "no-extra-boolean-cast": 0,
    "no-unused-vars": [ 1, {
        "args": "all",
        "argsIgnorePattern": "^_",
        "caughtErrors": "all",
        "caughtErrorsIgnorePattern": "^_",
        "varsIgnorePattern": "^_ignore"
    }],
    "quotes": [ 1, "single" ],
    "semi": [ 1, "always" ],
    "indent": 0,
    "indent-legacy": [ 1, 4 ],
    "linebreak-style": [ 1, "unix" ],
    "prefer-const": [ 0 ],
    "no-var": [ 0 ],
    "comma-dangle": [ 1, "never"],
    "no-debugger": 1,
    "no-useless-escape": 1,
    "eqeqeq": [1, "always"],
    "no-new-wrappers": 2,
    "array-callback-return": 2,
    "no-floating-decimal": 2,
    "no-loop-func": 2,
    "no-multi-str": 2,
    "no-octal-escape": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-useless-return": 2,
    "no-shadow-restricted-names": 2,
    "no-bitwise": 2
  },
  "env": {
    "node": true,
    "browser": true
  },
  "extends": "eslint:recommended"
}
